* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.mainContainer {
  border: 4px black solid;
  margin: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonContainer {
  display: flex;
  gap: 64px;
  justify-content: center;
}

.buttonContainer button {
  margin: 32px;
  width: 200px;
  height: 150px;
}

.outputChoice {
  display: flex;
  justify-content: center;
}

.outputChoice .choiceContainers div {
  height: 100px;
  width: 200px;
  border: 4px black solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 50px;
}

.outputChoice .vs {
  border: 0px;
  margin-top: -24px;
  font-size: 128px;
  margin-left: 16px;
  margin-right: 16px;
}

.outputChoice .choiceContainers {
  border: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
}

.resetContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset {
  padding: 8px 24px;
  border-radius: 64px;
  background-color: rgb(7, 170, 235);
  color:white;
  font-size: 64px;
}

.output {
  margin: 16px;
  font-size: 32px;
  padding: 8px;
  border: black 3px solid;
  background-color: yellow;
  border-radius: 25%;
}

.finalScoreWin {
  text-align: center;
  margin-top: 64px;
  border: 4px solid black;
  background-color: lightgreen;
  font-size: 72px;
  font-weight: 900;
}

.finalScoreLose {
  text-align: center;
  margin-top: 64px;
  border: 4px solid black;
  font-size: 72px;
  font-weight: 900;
  background-color: lightcoral;
}

