* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-image: url(./images/paper.jpg);
  background-size: cover;
}

.mainContainer {
  border: 4px black solid;
  margin: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: antiquewhite;
  border-radius: 20%;
}

.buttonContainer {
  display: flex;
  gap: 64px;
  justify-content: center;
}

.buttonContainer button {
  margin: 32px;
  width: 175px;
  height: 125px;
  font-size: 32px;
  font-weight: 700;
  color: transparent;
}

.rockButton {
  background-image: url(./images/rock.jpg);
  background-size: contain;
}

.paperButton {
  background-image: url(./images/paper2.jpg);
  background-size: contain;
} 

.scissorsButton {
  background-image: url(./images/scissors.jpg);
  background-size: contain;
}

.outputChoice {
  display: flex;
  justify-content: center;
}

.outputChoice .choiceContainers div {
  height: 100px;
  width: 200px;
  border: 4px black solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 36px;
}

.outputChoice .vs {
  border: 0px;
  font-size: 128px;
  margin-left: 22.42px;
  margin-top: -15px;
}

.outputChoice .choiceContainers {
  border: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
}

.resetContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset {
  padding: 8px 24px;
  border-radius: 64px;
  background-color: rgb(7, 170, 235);
  color:white;
  font-size: 64px;
  border: 3px black solid;
}

.output {
  margin: 16px;
  font-size: 32px;
  padding: 8px;
  border: black 3px solid;
  background-color: yellow;
  border-radius: 25%;
}

.finalScoreWin {
  text-align: center;
  margin-top: 64px;
  border: 4px solid black;
  background-color: lightgreen;
  font-size: 72px;
  font-weight: 900;
  padding-top: 9px;
}

.finalScoreLose {
  text-align: center;
  margin-top: 64px;
  border: 4px solid black;
  font-size: 72px;
  font-weight: 900;
  background-color: lightcoral;
  padding-top: 9px;
}

